{% extends 'base.html' %}

{% block title %}Editar Plato{% endblock %}

{% block content %}

<div class="card my-3" style="max-width: 540px;">
    <div class="row g-0">
        <div id="imagen" class="col-md-4">
            <img src="{{ imagen }}" class="img-fluid rounded-start" alt="imagen del plato">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="fs-4 text-success">
                    {{ nombre }}
                </div>
                <div class="mt-2">
                    <p class="">Editar preparación:</p>
                </div>
                <form action="/edit_preparation/{{ id }}" method="POST">
                    <textarea class="form-control w-100" style="height: 200px;" name="preparacion" id="preparacion">{{ preparacion }}</textarea>
                    <div class="d-flex mt-4 justify-content-end">
                        <div class="d-flex gap-2">
                            <a href="/week" class="mt-2 pe-2">Cancelar</a>
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}