{% extends 'base.html' %}

{% block title %}foodplan{% endblock %}

{% block content %}

<div class="card shadow" style="width: 18rem;">
    <img class="card-img-top" src="{{ imagen }}" alt="imagen del plato">
    <div class="card-body">
        <h1 class="text-success text-center">{{ dia }}</h1>
        <p class="text-dark"><b>{{ plato }}</b> y ensalada de <b>{{ ensalada }}</b></p>
        <p><b>Ingredientes:</b></p>
        <ul class="text-dark">
        {% for ingrediente in ingredientes %}
            <li>{{ ingrediente }}</li>
        {% endfor %}
        </ul>
        <p><b>Preparación:</b></p>
        <p class="text-dark">{{ preparacion }}</p>
    </div>
    
</div>

{% endblock %}

