{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="card my-3 py-2 px-2" style="max-width: 540px; width: 350px;">
    <h5 class="text-success">Iniciar sesión</h5>
    <form class="mt-2" method="POST" action="/login">
        <div>
            <label for="email" class="form-label">usuario:</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" placeholder="ej. david@email.com" required>
        </div>
        <div class="mt-4">
            <label for="password" class="form-label">contraseña:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mt-4 d-flex justify-content-between">
            <a href="/register">Crear usuario</a>
            <button type="submit" class="btn btn-primary">Validar</button>
        </div>
    </form>
</div>

{% endblock %}
