{% extends 'base.html' %}

{% block title %}Passkeeper{% endblock %}

{% block content %}
<h1>Log in</h1>
<form class="mt-4" method="POST" action="/login">
    <div>
        <label for="email" class="form-label">user:</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" placeholder="e.g. david@email.com" required>
    </div>
    <div class="mt-4">
        <label for="password" class="form-label">password:</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="mt-4 d-flex justify-content-between">
        <a href="/new_account">New account</a>
        <button type="submit" class="btn btn-primary">Log in</button>
    </div>
</form>

{% endblock %}
