{% extends 'base.html' %}

{% block title %}Nuevo Plato{% endblock %}

{% block content %}

<div class="card my-3 py-2 px-2" style="max-width: 540px; width: 350px;">
    <h5 class="text-success mb-3">Nuevo Plato</h5>
    <label for="plato_nombre">Subir imagen:</label>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="d-flex gap-1 mb-2">
            <input class="form-control" type="file" name="file">
            <button class="btn btn-primary" type="submit">Subir</button>
        </div>
    </form>
    <form action="/new_plate" method="POST">
        <div id="ingredientes-container">
            <div class="ingrediente-form">
                <div class="d-flex flex-column justify-content-between gap-1">
                    <div>
                        <label for="plato_nombre">Nombre del plato:</label>
                        <input class="form-control" type="text" id="plato_nombre" name="plato_nombre" required>
                    </div>
                    <div>
                        <label for="preparacion">Preparación:</label>
                        <textarea class="form-control" name="preparacion" id="preparacion"
                            style="min-height: 200px;"></textarea>
                    </div>
                    <div>
                        <label for="carbohidratos">¿Principalmente carbohidratos?:</label>
                        <select class="form-control" name="carbohidratos" id="carbohidratos" required>
                            <option value="false">No</option>
                            <option value="true">Si</option>

                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex mt-4 justify-content-end">
            <div class="d-flex gap-2">
                <a href="" class="mt-2 pe-2" onclick="window.history.back()">Cancelar</a>
                <button type="submit" class="btn btn-success">Siguiente</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}