{% extends 'base.html' %}

{% block title %}foodplan{% endblock %}

{% block content %}
<style>
    .cursor-pointer {
        cursor: pointer;
    }
</style>
<div class="card my-3" style="max-width: 540px; min-width: 350px">
    <div class="row g-0">
        <div class="col-md-12">
            <div class="card-body">
                <h5 class="card-title text-success">Total ingredientes:</h5>
                <div class="mt-4">
                    <ul class="list-unstyled">
                        {% for item in resultados %}
                        <li>
                            <div class="d-flex">
                                <div id="{{ item.id }}" class="cursor-pointer me-1" onclick="enviarId(this.id)">
                                    {% if item.disponibilidad == True %}
                                    <iconify-icon class="text-success" icon="humbleicons:check-circle" width="24"
                                        height="24"></iconify-icon>
                                    {% else %}
                                    <iconify-icon class="text-warning" icon="humbleicons:circle" width="24"
                                        height="24"></iconify-icon>
                                    {% endif %}
                                </div>
                                <div>
                                    {% if item.unidad in ['cda', 'poco', 'chorrito', 'diente', 'cdita'] %}
                                    {{ item.ingrediente | capitalize }}
                                    {% else %}
                                    {{ item.cantidad }}

                                    {% if item.unidad != "unidad" %}
                                    {{ item.unidad }}{% if item.cantidad > 1 and item.cantidad < 20 %}{% if
                                        item.unidad[-1] in ['a', 'e' , 'i' , 'o' , 'u' ] %}s{% else %}es{% endif %} {%
                                        endif %} de {% endif %} {{ item.ingrediente }} {% endif %} </div>
                                </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function enviarId(id) {
        const div = document.getElementById(id)
        const icon = div.querySelector('iconify-icon')

        const iconoOriginal = icon.getAttribute('icon')
        const claseOriginal = icon.getAttribute('class')
        const nuevoIcono = iconoOriginal === 'humbleicons:check-circle' ? 'humbleicons:circle' : 'humbleicons:check-circle'

        // Cambiar la clase
        const nuevaClase = claseOriginal === 'text-warning' ? 'text-success' : 'text-warning'
        icon.setAttribute('class', nuevaClase)

        // Cambiar el icono
        icon.setAttribute('icon', nuevoIcono)

        fetch(`/cambiar_estado/${id}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                if (!data.success) {
                    // Si hubo un error, revertir el icono y la clase al estado original
                    icon.setAttribute('icon', iconoOriginal)
                    icon.setAttribute('class', claseOriginal)
                    console.error(data.error)
                }
            })
            .catch(error => {
                // Si la solicitud falla, revertir el icono y la clase al estado original
                icon.setAttribute('icon', iconoOriginal)
                icon.setAttribute('class', claseOriginal)
                console.error('Error:', error)
            })
    }
</script>

{% endblock %}


{#

si la unidad es 'cda', 'poco', 'chorrito', 'diente', 'cdita':
mostrar ingrediente

sino:
mostrar cantidad
si la unidad no es 'unidad':
mostrar unidad
si la cantidad es mayor a 1 y menor a 20:
si la unidad termina con vocal:
agregar 's'
sino:
agregar 'es'
mostrar 'de'
mostrar ingrediente

#}